* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    background: #ccc;
}

article {
    width: 210mm;
    height: 297mm;
    position: relative;
    background-image: url('./top-image.png'), url('./bottom-image.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    background-size: contain, contain;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

article h1 {
    background-image: url('./logo.png');
    background-repeat: no-repeat;
    filter: drop-shadow(10px 5px 10px);
    color: white;
    position: relative;
    top: 12mm;
    left: 22mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    text-shadow: 1px 1px 1px black;

}

article address {
    position: absolute;
    bottom: 8mm;
    right: 22mm;
}