body{
    background-color: rgb(1, 13, 14);
    color: aliceblue;
}

h1 p {
    background-color: yellow;
}

strong,
em {
    color: rebeccapurple;
}

a[href="http://google.com"]{
    color: forestgreen;
}

h1 + p{
    color: brown;
}

h1 > p{
    color: rgb(14, 248, 170);

}

article:first-child{ /* select any articale if the articale is first sibling of any parent element*/
    color: blue;
}

article *:first-child{  /* same as "articale :first-child"*/
    color: rgb(81, 255, 0);
}

.demo{
    color: violet;
}
div{
    color: aqua;
}