* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #00191c;
    color: aliceblue;
}

.container {
    display: grid;
    place-content: center;
}

.stopwatch {
    margin-top: 40%;
}

.time {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.9rem;
}

.time > span:last-child {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
}

.action-btn {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 1.4rem;
}

.btn {
    background-color: #023c75;
    outline: none;
    border: none;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: inline-grid;
    place-content: center;
    cursor: pointer;

}

.btn img {
    /*padding: 1rem;*/
    width: 2rem;
    height: 2rem;
}

.flag-btn, .reset-btn {
    background-color: rgb(82, 80, 80);
}

.flag-btn:disabled, .reset-btn:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.flags {
    margin-top: 2rem;
    overflow-y: auto;
}

.flag-table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

/*.flag-table thead{*/
/*    position:  d;*/
/*}*/

.flag-table th {
    border-bottom: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
}

.flag-table td {
    padding: 0.8rem;
}


